@import url('https://fonts.googleapis.com/css?family=Audiowide|Berkshire+Swash|Bungee|Fredericka+the+Great|Pangolin|Rock+Salt|Staatliches');

#container {
	width: 960px;
	margin: 0 auto;
}

#content {
	margin: 40px;
	float: left;
	width: 480px;
}

.outputSample {
	margin: 10px;
	padding: 5px;
}

#content {
	margin: 40px;
	float: left;
	width: 480px;
}

#output {

}

#grammar {
	padding: 2px;
	margin: 10px;
	background-color: rgb(200, 230, 255);
}
